#flex-child{
    flex-grow: 1;
}
#category-list{
    background-color: rgb(212, 208, 208);
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    min-width: 300px;
    max-width: 300px;
}

.container{
    margin-top: 30px;
}

a{
    color: black;
    
}

.delete_forever:hover{
    color: red;
}

.category{
    display:flex; 
}

.add_box{
    margin-top: 8px;
}

#form-add, #form-edit, #form-login, #form-register{
    max-width: 30%;
    background-color: rgb(179, 210, 216);
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    

}
h1{
    text-align: center;
}

#to-logIn, #to-signUp{
    text-align: center;
}

.g-signin2{
    display:flex;
    justify-content: center;
}

#tools-ikon a i{
    margin-right: 10px;
}
